body, html {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Asap', sans-serif;
	width: 100%;
	background:#1c1c1d;
}

#header{
	background:#1c1c1d;
	color:#58585a;
	font-size:16px;
	width: 100%;
	float:left;
	height: 45px;
	line-height: 1.5em;
	font-size: 12px;
	font-weight: 100;
}

#name{
	left: 60px;
	top: 0px;
	color: red;
	position: absolute;
}

#lang-box{
  position: absolute;
  height: 34px;
  float: left;
  top: 5px;
  right: 20px;
  border: 1px solid #cce0eb; 
  background: #268bca;
  -moz-box-shadow: 0 0 1px #85cffd;
  -webkit-box-shadow: 0 0 1px #85cffd;
  box-shadow: 0 0 1px #85cffd;
}

#lang-flag{
  position: relative;
  float:left;
  width: 36px;
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
}

#lang-name{
  position: relative;
  top: 10px;
  float: right;
  line-height: 11px;
  margin-right: 10px;	
}

#lang-name a{
  font-family: Tahoma,Arial,sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-shadow: 0 1px 0 #084c78;
  color: #fff;
  float:right;		
}



#w1logo {
	width: 50px;
	height: 50px;
	background-image: url('../img/logo.png');
	position: absolute;
	left: 0px;
	top: 0px;

}


#fondtransparent {
	height: 100%;
	width: 100%;
	min-height: 300px;
	background-image: url("../img/backg.jpg");
	background-attachment: fixed; /* Le fond restera fixe */
	background-repeat: no-repeat;
	background-position:0px 50px;
	background-size:100% 100%;

	/*opacite du fond reglee a 90%*/
	-khtml-opacity:.90; 
	-ms-filter:"alpha(opacity=90)";
	filter:alpha(opacity=90);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
	opacity:.90; 
}


.looseScroll {
	position: relative;
}

#coeur {
	left: 50%;
	margin-left: -300px;
    border-radius: 50px;
	width: 600px;
	position: absolute;
	text-align:center;
	top: 100px;
	height: 320px;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background-color: rgba(255, 255, 255, 0.35)
}

#slogan{
	text-shadow: 1px 1px #555555;
	font-size: 20px;
	letter-spacing: 1px;
	color: black;
	font-style:italic;
}

#wanna{
	position: relative;
	top: 40px;
	font-size: 18px;
	letter-spacing: 1px;
	color: black;
	font-style:italic;
	text-align: center;
}

.footer {
	background:#1c1c1d;
	color:#58585a;
	font-size:16px;
	width: 100%;
	float:left;
	height: 45px;
	padding: 5px 0 0;
	line-height: 1.5em;
	font-size: 12px;
	font-weight: 100;
	position:absolute;
	bottom:0;
  }

.footerLinks {
	width:100%;
	max-width: 1024px;
	padding:0 0 0 165px;
	margin:0 auto;
	display: block;
	
}

.footerLinks li {
	float:left;
	list-style-type:none;
	margin: 0 120px 0 0;
}

.footerLinks li:last-child {
	margin:0;
}

.footerLinks a{
	color:#58585a;
	text-decoration:none;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (   min-moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  


	#navLogo {
		background-image: url('../img/mktgLogos@2x.png');
		background-size: 355px 96px;	}


	#w1logo {
		background-image: url('../img/mktgLogos@2x.png');
		background-size: 355px 96px;
		
	}

	#w1tabletContainer {
		background-image: url('../img/mktgFrames@2x.png');
		background-size: 789px 800px;
	}

	#w1desktopContainer {	
		background-image: url('../img/mktgFrames@2x.png');
		background-size: 789px 800px;
	}

	#w1phoneContainer {
		background-image: url('../img/mktgFrames@2x.png');
		background-size: 789px 800px;
	}

@media only screen and (max-device-width: 480px) {

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

@media only screen and (max-height : 800px) {

	#navLogin {
		top: 9px;
	}
	
}

@media only screen and (min-width : 500px) and (max-width : 850px) {
	#navLogo {
		display: none;
}


@media only screen and (min-width: 850px) and (max-width : 1040px) {
	#navLogo {
		display: none;
	}
}

